<!-- Search about Employee-->
<h1><%= I18n.t "search" %>:<br>Search Results </h1>
	<% if @employees.blank? %>
	<p><%= I18n.t "employee_details_no" %>:<br>There are no Employees   currently in the system.</p>
<% else %>
	<p><%= I18n.t "employee_details" %>:<br> List of Employees in current System:</p>
	<table>
	<tr>
		<td><%= I18n.t "employment_number" %>:<br> Employement</td>
		<td><%= I18n.t "edit" %><br>Edit</td>
	</tr>
	<% @employees.each do |c| %>
	<tr>
		<td><%= link_to c.employee_id, {:action => 'show', :id => c.id} -%></td>
		<td><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></td>
	</tr>
	<% end %>
	</table>
<% end %>
<%= will_paginate @employees %>	
<%= link_to I18n.t "back" ,{:action => 'list'}%><br> <%= link_to 'Back', {:action => 'list'} %>
