<STYLE TYPE="text/css">

TD{font-size: 7pt;}
.break { page-break-before: always; }
</STYLE>
<% if @deaths.blank? %>
 	<p align="center"><%= I18n.t "death_details_no" %>:<br>There are no Zones currently in the system:</p>
<% else %>
		<h1 align="center"><%= I18n.t "mcm" %></h1>
		<h2 align="center"><%= I18n.t "mcm_address" %> <h2>
		<hr>
	<h2 align="center"><%= I18n.t "death_details" %>:<br>Death Report</h2>
<br>
	<table border="1" align="center" width="100%">
	<tr>
		<td><%= I18n.t "description" %><br>Register ID</td>
		<td><%= I18n.t "description" %><br>Register Date</td>
		<td><%= I18n.t "description" %><br>Death Date</td>
		<td><%= I18n.t "description" %><br>Name</td>
		<td><%= I18n.t "description" %><br>Father Name</td>
		<td><%= I18n.t "description" %><br>Age</td>
		<td><%= I18n.t "description" %><br>Gender</td>
		<td><%= I18n.t "description" %><br>Death Place</td>

	</tr>
	<% @deaths.each do |c| %>
	
	<tr>
		<td><%=c.register_id %></td>
		<td><%=c.register_date.strftime("%d-%m-%Y") %></td>
		<td><%=c.death_date.strftime("%d-%m-%Y") %></td>
		<td><%=c.last_name %> &nbsp; <%=c.first_name %></td>
		<td><%=c.father_name %></td>
		<td><%=c.age %></td>
		<td><%=c.gender.name %></td>
		<td><%=c.hospital.name %></td>

	</tr>
	<% end %>
	</table>
<% end %>


