<!--Listing all the Death Registration Details-->
<% if @deaths.blank? %>
	<p><%= I18n.t "death_details_no" %>:<br>There are no Deaths currently in the system.</p>
<% else %>
<!--Start of search text box -->
<%= form_tag :action => 'search' %>
	<table>
	<tr>
		<td><%= I18n.t "search" %>:<br>Search: </td>
		<td>
<%= text_field_tag :query ,@query ||="Enter Death Registration" ,:class=>'title',:onfocus=>"javascript: this.value=''",:onblur=>"javascript: if(this.value=='') this.value='Enter Death Registration'" %></td>
		<td><%= I18n.t "search" %>:<br><%= submit_tag "Search Death Regisration" %></td>
	</tr>
	</table>
<%= form_tag %>
<!--end of search text box -->

	<p> <%= I18n.t "death_details" %>:<br>The current Death Registrations in system:</p>
<% end %>
<p><%= I18n.t "list_of_approved_death_details" %>:<br><%= link_to "List of Approved Registrations", {:action => 'approved' }%></p>
<p><%= I18n.t "list_of_notapproved_death_details" %>:<br><%= link_to "List of Not Approved Registrations", {:action => 'notapproved' }%></p>
<br>
<p><%= I18n.t "add_new" %>:<br><%= link_to "Add new", {:action => 'new' }%> </p>

