<!--Showing the Property Tax Payment Details-->
<h1><%= I18n.t "property_tax_details" %>:<br> Property Tax Payment Details:</h1>
	<table>
	<tr>
		<td><%= I18n.t "assesment_number" %>:<br> Assessment Number :</td>
		<td><%= @ptaxpayment.ptax.assessment_number %></td>
	</tr>
	<tr>
		<td><%= I18n.t "total_amount" %>:<br>Total Amount: </td>
		<td><%= @ptaxpayment.total_amount %></td>
	</tr>
	<tr>
		<td><%= I18n.t "paid_amount" %>:<br>Paid Amount: </td>
		<td><%= @ptaxpayment.paid_amount %></td>
	</tr>
	<tr>
		<td><%= I18n.t "balance_amount" %>:<br>Balance Amount: </td>
		<td><%= @ptaxpayment.balance_amount %></td>
	</tr>

	<tr>
		<td><%= I18n.t "description" %>:<br>Description: </td>
		<td><%= @ptaxpayment.remark %></td>
	</tr>
	</table>
<%= I18n.t "back" %><br><%= link_to 'Back', {:action => 'list'} %>
