<!--Shoing the Structure Factor Details-->
<h1><%= I18n.t "da_amount_details" %><br>DA  Details:</h1>
	<table>
	<tr>
		<td> <%= I18n.t "da_amount" %>:<br>DA Percentage:</td>
		<td><%= @da.da_amount %></td>
	</tr>

	<tr>
		<td><%= I18n.t "description" %>:<br>Description: </td>
		<td><%= @da.description %></td>
	</tr>
	</table>
<%= I18n.t "back" %><br><%= link_to 'Back', {:action => 'list'} %>
