<!--Listing all Item category Details -->
<% if @itemcategories.blank? %>
 	<p><%= I18n.t "item_category_details_no" %><br>There are no Item categorys currently in the system:</p>
<% else %>
<!--Start of search text box -->
<%= form_tag :action => 'search' %>
	<table>
	<tr>
		<td><%= I18n.t "search" %>:<br>Search: </td>
		<td>
<%= text_field_tag :query ,@query ||="Enter Item category Name" ,:class=>'title',:onfocus=>"javascript: this.value=''",:onblur=>"javascript: if(this.value=='') this.value='Enter Item category'" %></td>
		<td><%= I18n.t "search" %>:<br><%= submit_tag "Item category" %></td>
	</tr>
	</table>
<%= form_tag %>
<!--end of search text box -->
<br>
	<p><%= I18n.t "item_category_details" %><br>These are the current Item categorys:</p>
	<table>
	<tr>
		<td><%= I18n.t "item_category" %><br>Item Category</td>
		<td><%= I18n.t "edit" %><br>Edit</td>
	</tr>
	<% @itemcategories.each do |c| %>
	
	<tr>
		<td><%= link_to c.category_name, {:action => 'show', :id => c.id} -%></td>
		<td><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></td>
	</tr>
	<% end %>
	</table>
<% end %>
<%= will_paginate @itemcategories %>
<br>
<table>
<tr>
<td><%= link_to I18n.t "add_new", {:action => 'new' } %><br><%= link_to "Add new", {:action => 'new' }%> </td>
<td><%= link_to I18n.t "print_report", {:action => 'itemcategoryreport' } %> <br><%= link_to "Print Report", {:action => 'itemcategoryreport' }%> </td>
</tr>
</table>
<%= I18n.t "new" %> <br><%= link_to "Add new", {:action => 'new' }%>

|
<%= link_to "report ", {:action => 'itemcategoryreport' }%>

