<!--Listing all the Caste Details-->
<% if @castes.blank? %>
	<p><%= I18n.t "caste_details_no" %>:<br>There are no Castes currently in the system.</p>
<% else %>
		<h1 align="center"><%= I18n.t "mcm" %></h1>
		<h2 align="center"><%= I18n.t "mcm_address" %> <h2>
		<hr>
	<h2 align="center"> <%= I18n.t "caste_details" %><br>Caste Report</h2>3
<br>

	<table align="center">
	<tr>
		<td><%= I18n.t "caste" %><br>Name</td>
		<td><%= I18n.t "religion" %><br>Religion</td>
		<td><%= I18n.t "description" %><br>Description</td>
	</tr>
	<% @castes.each do |c| %>	
	<tr>
		<td><%= c.name %></td>
		<td><%= c.religion.name %></td>
		<td><%= c.description %></td>
	</tr>
	<% end %>
	</table>
<% end %>



