<!-- Search about Caste-->
<h1><%= I18n.t "search" %>:<br>Search Results </h1>
<% if @castes.blank? %>
	<p><%= I18n.t "caste_details_no" %>:<br>There are no Castes currently in the system.</p>
<% else %>
	<p> <%= I18n.t "caste_details" %>:<br>These are the current Caste:</p>
	<table>
	<tr>
		<td><%= I18n.t "caste" %><br>Name</td>
		<td><%= I18n.t "edit" %><br>Edit</td>
	</tr>
	<% @castes.each do |c| %>	
	<tr>
		<td><%= link_to c.name, {:action => 'show', :id => c.id} -%></td>
		<td><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></td>
	</tr>
	<% end %>
	</table>
	</table>
<% end %>
<%= will_paginate @castes %>	
<%= link_to I18n.t "back" ,{:action => 'list'}%><br> <%= link_to 'Back', {:action => 'list'} %>
