<!-- Search about Deliverymentods-->
<h1><%= I18n.t "search" %>:<br>Search Results </h1>

	<% if @deliverymethods.blank? %>
	<p><%= I18n.t 'delivery_method_details_no' %>:<br>There are no Delivery Methods currently in the system.</p>
<% else %>
	<p><%= I18n.t 'delivery_method_details' %>:<br>These are the current Delivery methods:</p>
	<table>
<tr>
		<td><%= I18n.t "name" %>:<br>Delivery Method Name</td>		
		<td><%= I18n.t "edit" %><br>Edit</td>
	</tr>
	<% @deliverymethods.each do |c| %>
	<tr>
		<td><%= link_to c.name, {:action => 'show', :id => c.id} -%></td>
		<td><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></b></td>
	</tr>
	<% end %>
	</table>
<% end %>
<%= will_paginate @deliverymethods %>
<%= link_to I18n.t "back" ,{:action => 'list'}%><br> <%= link_to 'Back', {:action => 'list'} %>










