<!--Showing the details of Complaint Types-->
<h1><%= I18n.t 'complaint_type_details' %><br>Complaint Types Details:</h1>
	<table>
	<tr>
		<td><%= I18n.t 'complaint_type' %><br>Complaint Type:</td>
		<td><%= @complainttype.complaint_type %></td>
	</tr>	
	<tr>
		<td><%= I18n.t 'description' %><br>Description: </td>
		<td><%= @complainttype.description %></td>
	</tr>
	</table>
<%= I18n.t 'back' %><br><%= link_to 'Back', {:action => 'list'} %>
