<% if @storecunsumptions.blank? %>
 	<p align="center>><%= I18n.t "stores_consumption_details_no" %>:<br>There are no Storecunsumptions currently in the system:</p>
<% else %>
		<h1 align="center"><%= I18n.t "mcm" %></h1>
		<h2 align="center"><%= I18n.t "mcm_address" %> <h2>
		<hr>
	<h2 align="center"><%= I18n.t "stores_consumption_details" %><br>Report of  Store Consumptions</h2>

<br>

	<table border="1" align="center">
	<tr>
  <td><%= I18n.t "item_name" %><br>Item Name</td>
		<td><%= I18n.t "department" %><br>Department</td>
		<td><%= I18n.t "quantity" %><br>Quantity</td>
		<td><%= I18n.t "description" %><br>Description</td>
	</tr>
	<% @storecunsumptions.each do |c| %>
	
	<tr>
		<td><%= c.itemmaster.item_name%></td>
		<td><%= c.department.name %></td>
  		<td><%= c.quantity%></td>
  		<td><%= c.description%></td>
	</tr>
	<% end %>
	</table>
<% end %>

