<!--entering the data for creating Property Details-->
<h1><%= I18n.t "enter_property_details" %>:<br>Enter Property Details:
<%= form_tag :action => 'create' %>
	<table>
	<tr>
		<td><label for="name"> <%= I18n.t "property" %>:<br>Property Name</label>:* </td>
		<td><%= text_field 'property', 'name',:class=>'title' %></td>
	</tr>
	<tr>
		<td><label for="zone"> <%= I18n.t "zone" %>:<br>zone</label>*: </td>
		<td><%= collection_select(:property, :propertytype_id,@propertytype, :id, :name) %></td>
	</tr>
	<tr>
		<td><label for="description"> <%= I18n.t "description" %>:<br>Description</label>:</td>
		<td><%= text_area 'property', 'description'%></td>
	</tr>
	<tr>
		<td></td>
		<td><%= I18n.t "save" %>:<br><%= submit_tag "Create" %></td>
		</tr>
	</table>
<%= form_tag %>


