 <!--editing the data of Complaints Details-->
<h1><%= I18n.t 'edit_complaint_details' %><br>Edit Complaints Detail</h1>
<%= form_tag :action => 'update', :id => @complaint %>
	<table>
	<tr>
	<td><%= I18n.t 'complaint_number' %>:<br><label for="complaint_number">Complaints Type</label>:*</td>
		<td><%= text_field 'complaint', 'complaint_number',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t 'complaint_type' %>:<br><label for="complaint_type">Complaints Type</label>:*</td>
		<td><%= collection_select(:complaint, :complainttype_id,@complainttypes, :id, :complaint_type) %></td>
	</tr>
	<tr>
		<td><%= I18n.t 'department' %>:<br><label for="department">Department</label>:*</td>
		<td><%= collection_select(:complaint, :department_id,@departments, :id, :name) %></td>
	</tr>
	<tr>
		<td><%= I18n.t 'complaint_dec' %>:<br><label for="complaint_dec">Complaint Description</label>:</td>
		<td><%= text_area 'complaint', 'complaint_dec',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t 'complaint_date' %>:<br><label for="complaint_date">Complaint Date</label>:</td>
		<td><%= text_field 'complaint', 'complaint_date',:class=>'title' %></td>
	</tr>	
	<tr>
		<td><%= I18n.t 'resolve_time' %>:<br><label for="resolve_time">Resolve time</label>:</td>
		<td><%= text_field 'complaint', 'resolve_time',:class=>'title' %>(in days)</td>
	</tr>
	<tr>
		<td></td>
		<td><%= I18n.t 'save_changes' %><br><%= submit_tag "Save Changes" %></td>
	</tr>
	</table>		
<%= form_tag %>
<%= I18n.t 'back' %><br><%= link_to 'Back', {:action => 'list' } %>
