<!--Listing all Tax Details-->
<% if @taxes.blank? %>
	<p><%= I18n.t 'service_tax_details_no' %><br>There are no  Tax Details currently in the system.</p>
<% else %>

<!--Start of search text box -->
<%= form_tag :action => 'search' %>
	<table>
	<tr>
		<td><%= I18n.t "search" %>:<br>Search: </td>
		<td>
<%= text_field_tag :query ,@query ||="Enter Tax " ,:class=>'title',:onfocus=>"javascript: this.value=''",:onblur=>"javascript: if(this.value=='') this.value='Enter Tax'" %></td>
		<td><%= I18n.t "search" %>:<br><%= submit_tag "Search Tax" %></td>
	</tr>
	</table>
<%= form_tag %>
<!--end of search text box -->
<br>
	<p><%= I18n.t 'service_tax_details' %><br>These are the current  Tax Details:</p>
	<table>
	<tr> 
	    <td><%= I18n.t "tax" %><br>Tax </td>
	     <td><%= I18n.t "edit" %><br>Edit </td>
	</tr>
	<% @taxes.each do |c| %>
	<tr>
		<td><%= link_to c.name, {:action => 'show', :id => c.id} -%></td>
		<td><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></td>
	</tr>
	<% end %>
	</table>
<% end %>
<%= will_paginate @taxes %>
<%= link_to "Add new", {:action => 'new' }%>



