<!--Listing all RationCard Details -->
<% if @rationcardtypes.blank? %>
 	<p><%= I18n.t 'rationcard_reg_details_no' %><br>There are no RationCards currently in the system:</p>
<% else %>
<!--Start of search text box -->
<%= form_tag :action => 'search' %>
	<table>
	<tr>
		<td><%= I18n.t "search" %>:<br>Search: </td>
		<td>
<%= text_field_tag :query ,@query ||="Enter RationCard Type" ,:class=>'title',:onfocus=>"javascript: this.value=''",:onblur=>"javascript: if(this.value=='') this.value='Enter RationCard Number'" %></td>
		<td><%= I18n.t "search" %>:<br><%= submit_tag "Search RationCard" %></td>
	</tr>
	</table>
<%= form_tag %>
<!--end of search text box -->
<br>
	<p><%= I18n.t 'rationcard_reg_details' %><br>List of Current Ration Types:</p>
	<table>
	<tr>
		<td><%= I18n.t "rationcard_number" %><br>Ration Card Type</td>
		<td><%= I18n.t "edit" %><br>Edit</td>
	</tr>
	<% @rationcardtypes.each do |c| %>	
	<tr>
		<td><%= link_to c.card_type ,{:action => 'show', :id => c.id} -%></td>
		<td><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></td>
	</tr>
	<% end %>
	</table>
<% end %>
<%= will_paginate @rationcardtypes %>
<br>
<table>
<tr>
<td><%= I18n.t  "new" %> <br><%= link_to "Add new", {:action => 'new' }%>
</td>
<td><%= I18n.t  "print_report" %> <br><%= link_to "Print Report", {:action => 'rationcardreport'}%>
</td>
</tr>
</table>
