<!-- Search about Zones-->
<h1><%= I18n.t "search" %>:<br>Search Results </h1>
<% if @zones.blank? %>
 	<p><%= I18n.t "zone_details_no" %>:<br>There are no Zones currently in the system:</p>
<% else %>
	<p><%= I18n.t "zone_details" %>:<br>These are the current Zones:</p>
	<table>
	<tr>
		<td><%= I18n.t "zone" %>:<br>Zone Name</td>
		<td><%= I18n.t "description" %>:<br>Description</td>
	</tr>
	<% @zones.each do |zone| %>
	<tr>
		<td><%= link_to zone.name, {:action => 'show', :id => zone.id} -%> </td>
		<td><%= zone.description %> </td>
	</tr>
	<% end %>
	</table>
<% end %>
<%= will_paginate @zones %>
<%= link_to I18n.t "back" ,{:action => 'list'}%><br> <%= link_to 'Back', {:action => 'list'} %>
