<!--Listing all Goods Receive Details -->
<% if @goodsreceives.blank? %>
 	<p><%= I18n.t "goods_received_details_no" %><br>There are no Goods Receives currently in the system:</p>
<% else %>
<!--Start of search text box -->
<%= form_tag :action => 'search' %>
	<table>
	<tr>
		<td><%= I18n.t "search" %>:<br>Search: </td>
		<td>
<%= text_field_tag :query ,@query ||="Enter Goods Receive " ,:class=>'title',:onfocus=>"javascript: this.value=''",:onblur=>"javascript: if(this.value=='') this.value='Enter Goods Receive'" %></td>
		<td><%= I18n.t "search" %>:<br><%= submit_tag "Goods Receive" %></td>
	</tr>
	</table>
<%= form_tag %>
<!--end of search text box -->
<br>
	<p><%= I18n.t "goods_received_details" %><br>These are the current Goods Receives:</p>
	<table>
	<tr>
		<td><%= I18n.t "item_group" %><br>Item master name</td>
		<td><%= I18n.t "quantity" %><br>Quantiry</td>
		<td><%= I18n.t "goods_amount" %><br>Amount</td>
		<td><%= I18n.t "received_date" %><br>Goods Received Date</td>
		<td><%= I18n.t "edit" %><br>Edit</td>
	</tr>
	<% @goodsreceives.each do |c| %>
	
	<tr>
		<td><%= c.itemmaster.item_name -%></td>
		<td><%= c.quantity -%></td>
		<td><%= c.amount -%></td>
		<td><%= link_to c.received_date, {:action => 'show', :id => c.id} -%></td>
		<td><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></td>
	</tr>
	<% end %>
	</table>
<% end %>
<%= will_paginate @goodsreceives %>
<br>
<table>
<tr>
<td><%= link_to I18n.t "add_new", {:action => 'new' } %><br><%= link_to "Add new", {:action => 'new' }%> </td>
<td><%= link_to I18n.t "print_report", {:action => 'goodsreceivereport' } %> <br><%= link_to "Print Report", {:action => 'goodsreceivereport' }%> </td>
</tr>
</table>
