<!-- Search about Goods Receives-->
<h1><%= I18n.t "search" %>:<br>Search Results </h1>
<% if @goodsreceives.blank? %>
 	<p><%= I18n.t "goods_received_details_no" %><br>There are no Goods Receives currently in the system:</p>
<% else %>
	<p><%= I18n.t "goods_received_details" %><br>These are the current Goods Receives:</p>
	<table>
	<tr>
		<td><%= I18n.t "item_group" %><br>Item master name</td>
		<td><%= I18n.t "quantity" %><br>Quantiry</td>
		<td><%= I18n.t "goods_amount" %><br>Amount</td>
		<td><%= I18n.t "received_date" %><br>Goods Received Date</td>
		<td><%= I18n.t "edit" %><br>Edit</td>
	</tr>
	<% @goodsreceives.each do |c| %>
	
	<tr>
		<td><%= c.itemmaster.item_name -%></td>
		<td><%= c.quantity -%></td>
		<td><%= c.amount -%></td>
		<td><%= link_to c.received_date, {:action => 'show', :id => c.id} -%></td>
		<td><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></td>
	</tr>
	<% end %>
	</table>
<% end %>
<%= will_paginate @goodsreceives %>
<%= I18n.t "back" %><br> <%= link_to 'Back', {:action => 'list'} %>
