<!-- Search about Employee Types -->
<h1><%= I18n.t "search" %>:<br>Search Results </h1>
<% if @employeecategories.blank? %>
	<p><%= I18n.t "employee_type_details_no" %>:<br>There are no Employee Types currently in the system.</p>
<% else %>
	<p><%= I18n.t "employee_type_details" %>:<br>These are the current Employee Types:</p>
	<table>
	<tr>
		<td><%= I18n.t "employee_type" %><br>Employee Type</td>
		<td><%= I18n.t "edit" %><br>Edit</td>
	</tr>
	<% @employeecategories.each do |c| %>
	<tr>
		<td><%= link_to c.name, {:action => 'show', :id => c.id} -%></td>
		<td><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></td>
	</tr>
	<% end %>
	</table>
<% end %>
<%= will_paginate @employeecategories %>	
<%= link_to I18n.t "back" ,{:action => 'list'}%><br> <%= link_to 'Back', {:action => 'list'} %>
