<!--Listing qall the Hospital Details-->
<% if @hospitals.blank? %>
	<p> <%= I18n.t "hospital_details_no" %>:<br>There are no Hospitals currently in the system.</p>
<% else %>

<!--Start of search text box -->
<%= form_tag :action => 'search' %>
	<table>
	<tr>
		<td><%= I18n.t "search" %>:<br>Search: </td>
		<td>
<%= text_field_tag :query ,@query ||="Enter Hospital Details" ,:class=>'title',:onfocus=>"javascript: this.value=''",:onblur=>"javascript: if(this.value=='') this.value='Enter Hospital Details'" %></td>
		<td><%= I18n.t "search" %>:<br><%= submit_tag "Hospital Details" %></td>
	</tr>
	</table>
<%= form_tag %>
<!--end of search text box -->
<br>
	<p><%= I18n.t "hospital_details" %>:<br>These are the current Hospitals Details:</p>
	<table>
	<tr>
		<td><%= I18n.t "hospital_name" %><br>Name</td>
		<td><%= I18n.t "edit" %><br>Edit</td>
	</tr>
	<% @hospitals.each do |c| %>
	<tr>
		<td><%= link_to c.name, {:action => 'show', :id => c.id} -%></td>
		<td><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></td>
	</tr>
	<% end %>
	</table>
<% end %>
<%= will_paginate @hospitals %>
<br>
<table>
<tr>
<td><%= link_to I18n.t "add_new", {:action => 'new' } %><br><%= link_to "Add new", {:action => 'new' }%> </td>
<td><%= link_to I18n.t "print_report", {:action => 'hospitalreport' } %> <br><%= link_to "Print Report", {:action => 'hospitalreport' }%> </td>
</tr>
</table>


