<!--editing the data for Goods Return Details -->
<h1><%= I18n.t "edit_goods_return_details" %> <br>Edit Goods Return Detail</h1>
<%= form_tag :action => 'update', :id => @goodsreturn %>
	<table>
	<tr>
		<td><%= I18n.t "item_group" %>: <br><label for="item_name"> Item name</label>*: </td>
		<td><%= collection_select(:goodsreturn, :itemmaster_id,@itemmaster, :id, :item_name) %></td>
	</tr>
	<tr>
		<td><%= I18n.t "quantity" %>: <br><label for="quntity">Quantity</label>:* </td>
		<td><%= text_field 'goodsreturn', 'quantity',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t "goods_amount" %> :<br><label for="amount">Amount</label>:* </td>
		<td><%= text_field 'goodsreturn', 'amount',:class=>'title' %></td>
	</tr>
<tr>
		<td><%= I18n.t "return_date" %>: <br><label for="return_date">Return Date</label>:* </td>
		<td><%= text_field 'goodsreturn', 'return_date',:class=>'title' %></td>
	</tr>
	
	<tr>
		<td><%= I18n.t "description" %> :<br><label for="description">Description</label>:</td>
		<td><%= text_area 'goodsreturn', 'description', :cols=>30, :rows=>5 %></td>
	</tr>
	<tr>
		<td></td>
		<td><%= I18n.t "save_changes" %><br><%= submit_tag "Save Changes" %></td>
	</tr>
	</table>
<%= form_tag %>
<%= I18n.t "back" %><br><%= link_to 'Back', {:action => 'list' } %>
