<!--Listing all Goods Return Details -->
<% if @goodsreturns.blank? %>
 	<p><%= I18n.t "goods_return_details_no" %><br>There are no Goods Returns currently in the system:</p>
<% else %>
<!--Start of search text box -->
<%= form_tag :action => 'search' %>
	<table>
	<tr>
		<td><%= I18n.t "search" %>:<br>Search: </td>
		<td>
<%= text_field_tag :query ,@query ||="Enter Goods Return " ,:class=>'title',:onfocus=>"javascript: this.value=''",:onblur=>"javascript: if(this.value=='') this.value='Enter Goods Return'" %></td>
		<td><%= I18n.t "search" %>:<br><%= submit_tag "Goods Return" %></td>
	</tr>
	</table>
<%= form_tag %>
<!--end of search text box -->
<br>
	<p><%= I18n.t "goods_return_details" %><br>These are the current Goods Returns:</p>
	<table>
	<tr>
		<td><%= I18n.t "item_group" %><br>Item Master name</td>
		<td><%= I18n.t "quantity" %><br>Quantiry</td>
		<td><%= I18n.t "goods_amount" %><br>Amount</td>
		<td><%= I18n.t "return_amount" %><br>Goods Return Date</td>
		<td><%= I18n.t "edit" %><br>Edit</td>
	</tr>
	<% @goodsreturns.each do |c| %>
	
	<tr>
		<td><%= c.itemmaster.item_name -%></td>
		<td><%= c.quantity -%></td>
		<td><%= c.amount -%></td>
		<td><%= link_to c.return_date, {:action => 'show', :id => c.id} -%></td>
		<td><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></td>
	</tr>
	<% end %>
	</table>
<% end %>
<%= will_paginate @goodsreturns %>
<br>
<table>
<tr>
<td><%= link_to I18n.t "add_new", {:action => 'new' } %><br><%= link_to "Add new", {:action => 'new' }%> </td>
<td><%= link_to I18n.t "print_report", {:action => 'goodsreturnreport' } %> <br><%= link_to "Print Report", {:action => 'goodsreturnreport' }%> </td>
</tr>
</table>
