<!--editing the data of Gender Details-->
<h1><%= I18n.t "enter_gender_details" %>:<br> Edit Gender Type Detail</h1>
<%= form_tag :action => 'update', :id => @gender %>
	<table>
	<tr>
		<td><label for="name"><%= I18n.t "gender" %>:<br>Gender</label>: </td>
		<td><%= text_field 'gender', 'name',:class=>'title' %></td>
	</tr>
	<tr>
		<td><label for="description"><%= I18n.t "description" %>:<br>Description</label>:</td>
		<td><%= text_area 'gender', 'description' %></td>
	</tr>
	<tr>
		<td></td>
		<td><%= I18n.t "save_changes" %>:<br><%= submit_tag "Save Changes" %></td>
	</table>
<%= form_tag %>
<%= link_to I18n.t "back" , {:action => 'list' }%><br><%= link_to 'Back', {:action => 'list' } %>
