<!--Listing all Streets-->
<% if @streets.blank? %>
	<p><%= I18n.t "street_details_no" %>:<br>There are no Streets currently in the system.</p>
<% else %>
	
<!--Start of search text box -->
<%= form_tag :action => 'search' %>
	<table>
	<tr>
		<td><%= I18n.t "search" %>:<br>Search: </td>
		<td>
<%= text_field_tag :query ,@query ||="Enter Street Name" ,:class=>'title',:onfocus=>"javascript: this.value=''",:onblur=>"javascript: if(this.value=='') this.value='Enter Street Name'" %></td>
		<td><%= I18n.t "search" %>:<br><%= submit_tag "Search Street" %></td>
	</tr>
	</table>
<%= form_tag %>
<!--end of search text box -->
<br>
	<p><%= I18n.t "street_details" %>:<br>These are the current Streets:</p>
	<table>
	<tr>
		<td><%= I18n.t "street" %><br>Name</td>
		<td><%= I18n.t "edit" %><br>Edit</td>
	</tr>
	<% @streets.each do |c| %>	
	<tr>
		<td><%= link_to c.name, {:action => 'show', :id => c.id} -%></td>
		<td><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></td>	
	</tr>
	<% end %>
	</table>
<% end %>
<%= will_paginate @streets %>
<br>
<table>
<tr>
<td><%= link_to I18n.t "add_new", {:action => 'new' } %><br><%= link_to "Add new", {:action => 'new' }%> </td>
<td><%= link_to I18n.t "print_report", {:action => 'new' } %> <br><%= link_to "Print Report", {:action => 'streetreport' }%> </td>
</tr>
</table>



