<!--entering the data for creating Birth Registration Details-->
<h1><%= I18n.t "edit_birth_details" %>:<br>Edit Birth Registration Details:</h1>
<%= form_tag :action => 'update', :id => @birth %>
	<table>
		<tr>
		<td><%= I18n.t 'registration_date' %>:<br>Registration Number*: </td>
		<td><%= text_field 'birth', 'register_id' ,:class=>'title', :readonly=>"true"%></td>
	</tr>
	<tr>
		<td><%= I18n.t 'registration_date' %>:<br>Registeration Date*: </td>
		<td><%= text_field 'birth', 'register_date',:class=>'title', :value => @birth.register_date.strftime("%d-%m-%Y") %></td>
	</tr>
	<tr>
		<td><%= I18n.t "date_of_birth" %>:<br>Date of Birth:*: </td>
		<td><%= text_field 'birth', 'birth_date',:class=>'title', :value => @birth.birth_date.strftime("%d-%m-%Y") %></td>
	</tr>
	<tr>
		<td><%= I18n.t "gender" %>:<br>Gender:</td>
		<td><%= collection_select(:birth,:gender_id,@gender,:id,:name) %></td>
	</tr>
	<tr>
		<td><%= I18n.t "first_name" %>:<br>First Name:: </td>
		<td><%= text_field 'birth', 'first_name',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t "middle_name" %>:<br>Middle Name: </td>
		<td><%= text_field 'birth', 'middle_name',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t "last_name" %>:<br>Last Name:</td>
		<td><%= text_field 'birth', 'last_name' ,:class=>'title'%></td>
	</tr>
	<tr>
		<td><%= I18n.t "father_name" %>:<br>Father Name *: </td>
		<td><%= text_field 'birth', 'father_name',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t "mother_name" %>:<br>Mother Name *: </td>
		<td><%= text_field 'birth', 'mother_name',:class=>'title' %></td>
	</tr>

	<tr>
		<td><%= I18n.t "address" %>:<br>Address: </td>
		<td><%=text_area 'birth', 'address'%></td>
	</tr>
	<tr>
		<td><%= I18n.t "place_birth" %>:<br>Place of Birth: </td>
		<td><%= radio_button("birth", "birth_place", "Hospital",:checked=>'checked')%>Hospital 
		    <%= radio_button("birth", "birth_place", "Home")%> Home</td>
	</tr>
	<tr>
		<td><%= I18n.t "hospital" %>:<br>Hospital Name: </td>
		<td><%= collection_select(:birth,:hospital_id,@hospital,:id,:name) %></td>
	</tr>
	<tr>
		<td><%= I18n.t "applicant_name" %>:<br>Applicant_name*: </td>
		<td><%= text_field 'birth', 'applicant',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t "mother_birth_place" %>:<br>Mother Native Place*: </td>
		<td><%= text_field 'birth', 'mother_native',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t "religion" %>:<br>Religion*: </td>
		<td><%= collection_select(:birth,:religion_id,@religion,:id,:name) %></td>
	</tr>
	<tr>
		<td><%= I18n.t "caste" %>:<br>Caste*: </td>
		<td><%= collection_select(:birth,:caste_id,@caste,:id,:name) %></td>
	</tr>
	<tr>
		<td><%= I18n.t 'father_education' %>:<br>Father Education*: </td>
		<td><%= text_field 'birth', 'father_education',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t 'mother_education' %>:<br>Mother Education*: </td>
		<td><%= text_field 'birth', 'mother_education',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t 'father_occupation' %>:<br>Father Occupation*: </td>
		<td><%= text_field 'birth', 'father_occupation' ,:class=>'title'%></td>
	</tr>
	<tr>
		<td><%= I18n.t 'mother_occupation' %>:<br>Mother Occupation*: </td>
		<td><%= text_field 'birth', 'mother_occupation',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t 'mother_age_marriage' %>:<br>Mother Age (At Time of Marriage)*: </td>
		<td><%= text_field 'birth', 'mother_age_marriage',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t 'mother_age_delivery' %>:<br>Mother Age (At Time of Delivery)*: </td>
		<td><%= text_field 'birth', 'mother_age_delivery' ,:class=>'title'%></td>
	</tr>
	<tr>
		<td><%= I18n.t 'total_childern' %>:<br>Total Childern*: </td>
		<td><%= text_field 'birth', 'total_children',:class=>'title' %></td>
	</tr>
	</tr>
		<td><%= I18n.t 'helper' %>:<br>Helper*: </td>
		<td><select name="birth[helper]">
				<option>Government</option>
				<option>Private/Non Government</option>
				<option>Doctor/Nurse/Trained Dai</option>
				<option>Dai/Relation</option>
			  </select>
		</td>
	</tr>
	<tr>
		<td><%= I18n.t "delivery_method" %>:<br>Delivery Method*: </td>
		<td><%= collection_select(:birth,:deliverymethod_id,@deliverymethod,:id,:name)%></td>
	</tr>
	<tr>
		<td><%= I18n.t 'baby_weight' %>:<br>Baby Weight*: </td>
		<td><%= text_field 'birth', 'weight',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t 'pregancy_period' %>:<br>Pregancy Period (in Weeks)*: </td>
		<td><%= text_field 'birth', 'total_time',:class=>'title' %></td>
	</tr>
	<tr>
	<tr>
		<td><%= I18n.t "city" %>:<br>City*: </td>
		<td><%= text_field 'birth', 'city',:class=>'title'%></td>
	</tr>
	<tr>
		<td><%= I18n.t "district" %>:<br>District*: </td>
		<td><%= text_field 'birth', 'district',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t "tehsil" %>:<br>Tehsil*: </td>
		<td><%= text_field 'birth', 'tehsil',:class=>'title' %></td>
	</tr>	
	<tr>
		<td><%= I18n.t 'register_remark' %>:<br>Registeration Remark: </td>
		<td><%= text_field 'birth', 'remarks',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t 'register_unit' %>:<br>Registeration Unit*: </td>
		<td><%= text_field 'birth', 'unit',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t 'employee' %>:<br>Employee*: </td>
		<td><%= text_field 'birth', 'employee_id',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t 'approved_by' %>:<br> Apporved By*: </td>
		<td><%= text_field 'birth', 'approved_by',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t 'approved_on' %>:<br>Apporved on*: </td>
		<td><%= text_field 'birth', 'approved_on',:class=>'title' , :value => @birth.approved_on.strftime("%d-%m-%Y") %></td>
	</tr>
	<tr>
		<td></td>
		<td><%= I18n.t 'save_changes' %>:<br><%= submit_tag "Save Changes" %></td>
	</tr>
	</table>
<%= form_tag %>
<%= I18n.t "back"  %><br><%= link_to 'Back', {:action => 'list' } %>
