<!-- Search about Birth-->
<h1><%= I18n.t "search" %>:<br>Search Results </h1>
	<% if @births.blank? %>
	<p> <%= I18n.t "birth_details_no" %>:<br>There are no Births currently in the system.</p>
<% else %>
	<p><%= I18n.t "birth_details" %>:<br>These are the current Births:</p>
	<table>
	<tr>
		<td><%= I18n.t "registration_number" %><br>Register Number</td>
		<td><%= I18n.t "date_of_birth" %><br>Birth Date</td>
		<td><%= I18n.t "first_name" %><br>First Name</td>
		<td><%= I18n.t "last_name" %><br>Last Name</td>
		<td><%= I18n.t "edit" %><br>Edit</td>
	</tr>
	<% @births.each do |c| %>
	<tr>
		<td><%= link_to c.register_id, {:action => 'show', :id => c.id} -%></td>
		<td><%=  c.birth_date -%></td>
		<td><%=  c.first_name -%></td>
		<td><%=  c.last_name -%></td>
		<td><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></td>
	</tr>
	<% end %>
	</table>
<% end %>
<%= will_paginate @births %>	
<%= I18n.t "back" %><br> <%= link_to 'Back', {:action => 'list'} %>
