<!-- Search about  DAs-->
<h1><%= I18n.t "search" %>:<br>Search Results </h1>
	<% if @hras.blank? %>
	<p><%= I18n.t "hra_amount_details_no" %><br>There are no HRA's currently in the system.</p>
<% else %>
	<p><%= I18n.t "hra_amount_details" %><br>hese are the current HRA:</p>
	<table>
	<tr>
		<td><%= I18n.t "hra_amount" %><br> HRA Amount</td>
		<td><%= I18n.t "edit" %><br>Edit</td>
	</tr>
	<% @hras.each do |c| %>
	<tr>
		<td><%= link_to c.hra_amount, {:action => 'show', :id => c.id} -%></td>
		<td><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></td>
	</tr>
	<% end %>
	</table>
<% end %>
<%= will_paginate @hras %>
<%= I18n.t "back" %><br> <%= link_to 'Back', {:action => 'list'} %>
