<!--entering the data for creating Rental Types Details-->
<h1><%= I18n.t "enter_rental_type_details" %><br>Enter Rental Types Details:</h1>
<%= form_tag :action => 'create' %>
	<table>
	<tr>
		<td><%= I18n.t "rental_type" %>:<br><label for="rental_type">Rental Type</label>:*</td>
		<td><%= text_field 'rentaltype', 'rental_type',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t "amount" %>:<br><label for="amount">Amount</label>:*</td>
		<td><%= text_field 'rentaltype', 'amount',:class=>'title' %></td>
	</tr>	
	<tr>
		<td><%= I18n.t "description" %>:<br><label for="description">Description</label>:</td>
		<td><%= text_area 'rentaltype', 'description' %></td>
	</tr>
	<tr>
		<td></td>
		<td><%= I18n.t "save" %><br><%= submit_tag "Create" %></td>
	</tr>
	</table>
<%= form_tag %>


