<% if @rentaltypes.blank? %>
 	<p align="center>><%= I18n.t "rental_type_details_no" %>:<br>There are no Rentaltypes currently in the system:</p>
<% else %>
		<h1 align="center"><%= I18n.t "mcm" %></h1>
		<h2 align="center"><%= I18n.t "mcm_address" %> <h2>
		<hr>
	<h2 align="center"><%= I18n.t "rental_type_details" %><br>Report of  Rental Types</h2>
<br>
	<table border="1" align="center">
	<tr>
		<td><%= I18n.t "rental_type" %><br>RentalType</td>
  <td><%= I18n.t "amount" %><br>Amount</td>
  <td><%= I18n.t "description" %><br>Descrioption</td>
 </tr>
	<% @rentaltypes.each do |c| %>
	
	<tr>
		<td><%= c.rental_type%></td>
		<td><%= c.amount %></td>
  <td><%= c.description %></td>
	</tr>
	<% end %>
	</table>
<% end %>

