<!--Showing the details of Employee Type-->
<h1> <%= I18n.t "employee_type_details" %>:<br>Employee Type Details:</h1>
	<table>
	<tr>
		<td><%= I18n.t "employee_type" %>:<br>Employee Type:</td>
		<td><%= @employeetype.name %></td>
	</tr>
	<tr>
		<td><%= I18n.t "description" %>:<br>Description: </td>
		<td><%= @employeetype.description %></td>
	</tr>
	</table>
<%= link_to I18n.t "back" ,{:action => 'list'}%><br><%= link_to 'Back', {:action => 'list'} %>
