<h1 align="center">कार्यालय नगरपलिका परिषद् मलाजखंड</h1>
<h2 align="center">मुख्य -  मोहगाव, जिला - बालाघाट (म. प्र). ४८१११८ </h2>
<br>
<hr>
<br>
<p align="left">
क्र. <br>
जन्म -मृत्यु/न.पा.प्) / <br>
दिनाक: <br>
</p>
<br>
<p align="left">
प्रति, <br>
जिला साख्यिकीय अधिकारी, <br>
जिला - बालाघाट <br>
</p>
<br>
<p align="center">विषय:  जन्म -मृत्यु मासिक प्रतिवेदन माह  </p>
<br>
<p align="center">
विषयतगर्ट  नगरपलिका परिषद् मलाजखंड मुख्यालाय  मोहगाव द्वारा माह  में  पंजीकृत जन्म -मृत्यु साराश प्रतिवेदन प्रेषित  है  !
</p>
<br>
<TABLE align="center">
	<TR>
		<TD>
			<BR>
		</TD>
		<TD >
			<P>Male <br> पुरुष </P>
		</TD>
		<TD >
			<P>Female <br>महिला</P>
		</TD>
		<TD >
			<P>Total <br>कुल </P>
		</TD>
	</TR>
	<TR >
		<TD>
			<P>Number of Births <br> जन्मों की संख्या</P>
		</TD>
		<TD>
			<P><%= @bmale -%></P>
		</TD>
		<TD>
			<P><%= @bfemale -%></P>
		</TD>
		<TD>
			<P><%= @bmale + @bfemale-%></P>
		</TD>
	</TR>
	<TR>
		<TD>
			<P>Number of  Deaths <br>मौतों की संख्या</P>
		</TD>
		<TD>
			<P><%= @dmale -%></P>
		</TD>
		<TD>
			<P><%= @dfemale -%></P>
		</TD>
		<TD>
			<P><%= @dmale + @dfemale-%></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=3>
			<P>Total<br>कुल </P>
		</TD>
		<TD>
			<P><%= @bmale + @bfemale + @dmale + @dfemale -%></P>
		</TD>
	</TR>
</TABLE>
<br>
<p align="center">
उक्तानुसार माह की जानकारी सादर प्रेषित  है  !
</p>
<br>
<br>
<br>
<br>
<p align="right">
मुख्य नगरपलिका अधिकारी <br>
नगरपलिका परिषद् मलाजखंड<br>
मुख्य -  मोहगाव, जिला - बालाघाट
</p>

