<!--Listing all the Loan Account Details-->
<% if @loanaccounts.blank? %>
	<p><%= I18n.t "loanaccount_registration_details_no" %><br>There are no Loan Accounts currently in the system.</p>
<% else %>
<!--Start of search text box -->
<%= form_tag :action => 'search' %>
	<table>
	<tr>
		<td><%= I18n.t "search" %>:<br>Search: </td>
		<td>
<%= text_field_tag :query,@query ||="Enter Loan Account",:class=>'title',
    :onfocus=>"javascript: this.value=''",:onblur=>"javascript:if(this.value=='')   this.value='Enter License'" %></td>
		<td><%= I18n.t "search" %>:<br><%= submit_tag "LoanAccounts" %></td>
	</tr>
	</table>
<%= form_tag %>
<!--end of search text box -->
<br>
	<p><%= I18n.t "loanaccount_registration_details" %><br>These are the current LoanAccounts :</p>
	<table>
	<tr>
  <td><%= I18n.t 'loanaccountno' %><br>Loan Account Number</td>		

		<td><%= I18n.t "edit" %><br>Edit</td>
		<td><%= I18n.t "calculate" %><br>Calculate</td>	
	</tr>
	<% @loanaccounts.each do |c| %>
	<tr>
		
		<td><%= link_to c.loanaccountno, {:action => 'show', :id => c.id} -%></td>
		<td><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></td>
		<td><%= link_to 'Calculate', {:action => 'calculate', :id => c.id} %></td>
	</tr>
	<% end %>
	</table>
<% end %>
<%= will_paginate @loanaccounts %>
<%= I18n.t "add_new" %><br><%= link_to "Add new", {:action => 'new' }%>
|
<%= link_to "report ", {:action => 'loanaccountreport' }%>
