<!--Showing the details of Organization Type Details-->
<h1><%= I18n.t "orgnanization_type_details" %>:<br>Organization Type Details:</h1>
	<table>
	<tr>
		<td><%= I18n.t "orgnanization_type" %>:<br>Organization Type:</td>
		<td><%= @organizationtype.name %></td>
	</tr>
	<tr>
		<td> <%= I18n.t "description" %>:<br>Description: </td>
		<td><%= @organizationtype.description %></td>
	</tr>
	</table>
<%= link_to I18n.t "back" ,{:action => 'list'}%><br><%= link_to 'Back', {:action => 'list'} %>
