<% if @wards.blank? %>
 	<p align="center"><%= I18n.t "ward_details_no" %>:<br>There are no Wards currently in the system:</p>
<% else %>
		<h1 align="center"><%= I18n.t "mcm" %></h1>
		<h2 align="center"><%= I18n.t "mcm_address" %> <h2>
		<hr>
<h2 align="center"><%= I18n.t "ward_details" %><br>Report of Current Wards</h2>
<br>

	<table border="1" align="center">
	<tr>
		<td><%= I18n.t "ward" %><br>Name</td>
		<td><%= I18n.t "description" %><br>Description</td>
		<td><%= I18n.t "zone" %><br>Zone Name</td>

	</tr>
	<% @wards.each do |c| %>
	
	<tr>
		<td><%=c.name%></td>
		<td><%=c.description %></td>
		<td><%=c.zone.name %></td>
	</tr>
	<% end %>
	</table>
<% end %>


