<!--Listing all the Designation Details-->

<% if @designations.blank? %>
	<p><%= I18n.t "designation_details_no" %>:<br>There are no Designations currently in the system.</p>
<% else %>
		<h1 align="center"><%= I18n.t "mcm" %></h1>
		<h2 align="center"><%= I18n.t "mcm_address" %> <h2>
		<hr>
	<h2 align="center"><%= I18n.t "designation_details" %><br>Designation Report</h2>
<br>
	<table align="center">
	<tr>
		<td><%= I18n.t "designation" %><br>Designation</td>
		<td><%= I18n.t "description" %><br>Description</td>
	</tr>
	<% @designations.each do |c| %>
	<tr>
		<td><%= c.name %></td>
		<td><%= c.description %></td>
	</tr>
	<% end %>
	</table>
<% end %>



