<!--Listing all the Seasonal licenses Details-->
<% if @seasonallicenses.blank? %>
	<p><%= I18n.t "seasonal_license_details_no" %><br>There are no Seasonal License currently in the system.</p>
<% else %>

<!--Start of search text box -->
<%= form_tag :action => 'search' %>
	<table>
	<tr>
		<td><%= I18n.t "search" %>:<br>Search: </td>
		<td>
<%= text_field_tag :query ,@query ||="Enter Seasonal licenses " ,:class=>'title',:onfocus=>"javascript: this.value=''",:onblur=>"javascript: if(this.value=='') this.value='Enter Seasonal licenses'" %></td>
		<td><%= I18n.t "search" %>:<br><%= submit_tag "Seasonal licenses" %></td>
	</tr>
	</table>
<%= form_tag %>
<!--end of search text box -->
<br>
	<p><%= I18n.t "seasonal_license_details" %><br>These are the current Seasonal License :</p>
	<table>
	<tr>
		<td><%= I18n.t "shop_name" %><br>Shop Name</td>		
		<td><%= I18n.t "edit" %><br>Edit</td>
	</tr>
	<% @seasonallicenses.each do |c| %>
	<tr>
		<td><%= link_to c.shop_name, {:action => 'show', :id => c.id} -%></td>
		<td><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></td>
		
	</tr>
	<% end %>
	</table>
<% end %>
<%= will_paginate @seasonallicenses %>
<br>
<table>
<tr>
<td><%= link_to I18n.t "add_new", {:action => 'new' } %><br><%= link_to "Add new", {:action => 'new' }%> </td>
<td><%= link_to I18n.t "print_report", {:action => 'new' } %> <br><%= link_to "Print Report", {:action => 'seasonalreport' }%> </td>
</tr>
</table>


