<h1 align="center">कार्यालय नगरपालिका परिषद् मलाजखंड मुकाम मोस्गाव जि. बालाघाट  </h1>
<h2 align="center">प्रारूप क्रमाक - ३</h2>
<p align="left">
रजिस्ट्रीकरण क्र. 
<br>
रजिस्ट्रीकरण दिनाक
<br>
क्रमाक. 
</p>
<br>
<br>
<h2 align="center">विवाह रजिस्ट्रीकरण प्रमाण - पात्र </h2>
<table border=1, align="center">
<tr>
<td>
<p align="justify">
एतद द्वारा, यह पमाणित किया जाता  है कि श्री <u><%= @marriage.groom_name %> </u> पुत्र <u> <%= @marriage.groom_father %> </u> आयु  <u><%= @marriage.groom_address %></u> निवासी  <u><%= @marriage.groom_address %> </u> जिला <u><%= @marriage.groom_district %></u> 
<br>
और 
<br>
श्रीमती  <u><%= @marriage.bride_name %></u>    पुत्री  <u><%= @marriage.bride_father %></u> आयु   ____  निवासी <u><%= @marriage.bride_address %></u>  जिला  <u><%= @marriage.bride_district %></u> तारीख  <u><%= @marriage.marriage_date %></u>  को विवाह बंधन  में  सहबद्र  हुए  है .
</p>
<br>
<br>
<br>
<br>
<p align="right">
विवाह रजिस्ट्रार
<br>
(हस्ताक्षर तथा मुद्रा)
</p>
