<!--Shoing the Structure Factor Details-->
<h1> <%= I18n.t "structure_factor_details" %>:<br>TA  Details:</h1>
	<table>
	<tr>
		<td> <%= I18n.t "structure_factor" %>:<br>TA Percentage:</td>
		<td><%= @ta.ta_percentage %></td>
	</tr>

	<tr>
		<td><%= I18n.t "description" %>:<br>Description: </td>
		<td><%= @ta.description %></td>
	</tr>
	</table>
<%= link_to I18n.t "back" ,{:action => 'list'}%><br><%= link_to 'Back', {:action => 'list'} %>
