<!--editing the data of License Types Details-->
<h1><%= I18n.t 'edit_license_type_details' %><br>Edit License Types Detail</h1>
<%= form_tag :action => 'update', :id => @licensetype %>
	<table>
	<tr>
		<td><%= I18n.t 'license_type' %><br><label for="lic_type">License Type</label>:*</td>
		<td><%= text_field 'licensetype', 'lic_type',:class=>'title' %></td>
	</tr>
	<tr>
		<td><%= I18n.t 'amount' %><br><label for="amount">Amount</label>:*</td>
		<td><%= text_field 'licensetype', 'amount',:class=>'title' %></td>
	</tr>	
	<tr>
		<td><%= I18n.t 'description' %><br><label for="description">Description</label>:</td>
		<td><%= text_area 'licensetype', 'description' %></td>
	</tr>
	<tr>
		<td></td>
		<td><%= I18n.t 'save_changes' %><br><%= submit_tag "Save Changes" %></td>
	</tr>
	</table>		
<%= form_tag %>
<%= I18n.t 'back' %><br><%= link_to 'Back', {:action => 'list' } %>
